/* physical page area */
.page { 
    margin: var(--margin);
}

.page__margin { 

    padding: var(--margin);
    position: relative;
}

.page__content { 
    padding: var(--margin-inner);
}

/* text area */
.text-block { 
    width: min(100% - 2rem, var(--text-measure));
    margin-inline: auto;
    padding-block: 5vh;
}

/* stack of equally spaced frames */
.stack > * + * {
margin-top: 2rem;
}

.grid{
    display: grid;
    gap: var(--space-3);
}

.center {
    display: grid;
    place-items: center;
}

.head-row, 
.foot-row { 
    padding: 3px;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

.head-row { top: 0;}
.foot-row { bottom: 0;}


